@import "tailwindcss";

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    /* Light */
    --background: 43 100% 97%;
    --foreground: 20 11% 9%;
    --card: 43 100% 97%;
    --card-foreground: 20 11% 9%;
    --primary: 33 75% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 100% 94%;
    --secondary-foreground: 20 11% 9%;
    --muted: 28 6% 45%;
    --muted-foreground: 28 6% 45%;
    --border: 38 37% 82%;
    --input: 38 37% 82%;
    --ring: 33 75% 44%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 27 100% 3%;
    --foreground: 38 31% 94%;
    --card: 27 100% 3%;
    --card-foreground: 38 31% 94%;
    --primary: 38 93% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 55% 7%;
    --secondary-foreground: 38 31% 94%;
    --muted: 25 37% 19%;
    --muted-foreground: 28 30% 46%;
    --border: 27 55% 11%;
    --input: 27 55% 11%;
    --ring: 38 93% 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
